.ingredientsContainer {
	&-segment {
		background-color: #273639 !important;
		&--white {
			color: #fff !important;
		}
	}
	&-segment {
		margin: 100px !important;
	}
	&-label {
		color: #8ea9a9 !important;
	}
}
.actionButton {
  margin: 0 10px;
  cursor: pointer;
  cursor: hand;
}

.add-button-container{
  padding: 10px;
  margin: -10px 10px 10px 10px;
}

.ui.card,
.ui.cards>.card {
  background-color: #273639;
}

#card-container {
  margin-top: 25px;
  margin-bottom: 15px;
}

#order-button {
  margin-top: 7px;
}

.ui.card>.content>.header, .ui.cards>.card>.content>.header {
  color: #FFF !important;
}

.ui.card>.content>.description, .ui.cards>.card>.content>.description {
  color: #FFF !important;
}
