.CreateIngredientForm {
	&-form, &-segment {
		background-color: #273639 !important;
		&--white {
			color: #fff !important;
		}
	}
	&-segment {
		margin: 100px !important;
	}
	&-label {
		color: #8ea9a9 !important;
	}
}

.ui.segment {
	position: static !important;
}

.modal {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	display: none;
	justify-content: center;
	align-items: center;
	.modal-content {
		width: 65%;
		background-color: #273639;
		padding: 25px;
		.modal-header {
			width: 100%;
			height: 65px;
			position: relative;
			top: 0;
			left: 0;
		}
		.modal-footer {
			width: 100%;
			height: 65px;
			bottom: 0;
			left: 0;
		}
	}
}
