.CreateIngredientForm {
	&-form, &-segment {
		background-color: #273639 !important;
		&--white {
			color: #fff !important;
		}
	}
	&-segment {
		margin: 100px !important;
	}
	&-label {
		color: #8ea9a9 !important;
	}
}